/bin/
/.classpath
/.project
/EquilinoxWindows_game.jar
/Equilinox_0_UserConfigs.dat
/unlockList.dat
/Equilinox_0_Saves/*
/mods/*
/.settings/*
*/Equilinox_0_Saves
*/doc/*
doc/allclasses-index.html
doc/allpackages-index.html
doc/com/modloader/class-use/Main.html
doc/com/modloader/Main.html
doc/com/modloader/package-summary.html
doc/com/modloader/package-tree.html
doc/com/modloader/package-use.html
doc/element-list
doc/help-doc.html
doc/index-files/index-1.html
doc/index-files/index-10.html
doc/index-files/index-11.html
doc/index-files/index-2.html
doc/index-files/index-3.html
doc/index-files/index-4.html
doc/index-files/index-5.html
doc/index-files/index-6.html
doc/index-files/index-7.html
doc/index-files/index-8.html
doc/index-files/index-9.html
doc/index.html
doc/jquery-ui.overrides.css
doc/legal/COPYRIGHT
doc/legal/jquery.md
doc/legal/jqueryUI.md
doc/legal/LICENSE
doc/member-search-index.js
doc/module-search-index.js
doc/overview-tree.html
doc/package-search-index.js
doc/resources/glass.png
doc/resources/x.png
doc/script-dir/images/ui-bg_glass_55_fbf9ee_1x400.png
doc/script-dir/images/ui-bg_glass_65_dadada_1x400.png
doc/script-dir/images/ui-bg_glass_75_dadada_1x400.png
doc/script-dir/images/ui-bg_glass_75_e6e6e6_1x400.png
doc/script-dir/images/ui-bg_glass_95_fef1ec_1x400.png
doc/script-dir/images/ui-bg_highlight-soft_75_cccccc_1x100.png
doc/script-dir/images/ui-icons_222222_256x240.png
doc/script-dir/images/ui-icons_2e83ff_256x240.png
doc/script-dir/images/ui-icons_454545_256x240.png
doc/script-dir/images/ui-icons_888888_256x240.png
doc/script-dir/images/ui-icons_cd0a0a_256x240.png
doc/script-dir/jquery-3.5.1.min.js
doc/script-dir/jquery-ui.min.css
doc/script-dir/jquery-ui.min.js
doc/script-dir/jquery-ui.structure.min.css
doc/script.js
doc/search.js
doc/stylesheet.css
doc/tag-search-index.js
doc/type-search-index.js
